body{
  margin: 0 auto;
  padding: 0;
  font-size: 0;
}
.mainProfile{
  
  display: inline-block;
  width: 300px;
  height: 1000px;
  /*-- background-color: green; */
  background-color: #37a000;
  float:left;
  
  
}
.avatar{
  padding-top: 30px;
  width: 70%;
}

.idImg{
  text-align: center;
 
 /*
  background-image: url(https://bannera.com.ua/Portfolio/profileImg.png);
  background-size: cover;
*/
}

.bannerList{
  text-align: center;
  display: block;
  
}

.bannerList li{
  margin: 15px;
  display: inline-block;

}